
  body {
  padding-top: 80px;
  font-family: Arial, sans-serif;
}
 
 /*Structure*/
.container {
width: 940px;
margin: 0 auto;
padding: 0 10px;
}
 
.section {
padding-bottom: 20px;
}
 
 /*Navigation Bar*/
#navigation {
margin: 0 auto; 
width: 100%;
text-align: center;
}

#navigation a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  text-align: center;
  padding: 0 15px;
  }
 
#navigation a:hover {
  text-decoration: underline;
  }

/*Section headers*/
h3 {
font-family: Arial;
font-size: 18;
text-transform: uppercase;
font-weight: normal;
}
 
 /*Cover*/
#background {
background: url(https://www.swanstone.com/images/new_products/product_subway_tile_detail.jpg);
display: block;
 height: 300px;
width: 940px;
text-transform: uppercase;
letter-spacing: 0.35em;
}
 
#title {
  text-align: center;
  padding-top: 85px;
}
 
#title h1 {
font-size: 35px;
}
 
#title p {
padding-top: 17px;
}
 
 /*About me*/
#mypiccontainer {
 display: inline-block;
 float: left;
 height: 200px;
 width: 190px; 
}

#mypic {
position: relative; 
background: url(https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAdIAAAAJDJkMjQ3Y2MxLTliZDUtNDRkOC04ZWY0LTllMmE5NjI5MjQ5OA.jpg);
background-size: 150px;
background-repeat: no-repeat;
background-position: center;  
height: 150px;
width: 150px;
border-radius: 50%;
margin: 20px 10px 15px 30px;  
}

#aboutpcontainer {
display: inline-block;
float: right;
height: 200px;
width: 750px;  
}

#aboutpcontainer p {
  position: relative;
  vertical-align: middle; 
  padding: 20px 30px 15px 20px;
  margin-top: 50px;
  }
 
 /*Skills*/
 #skills h3 {
   position: relative;
   clear: both;
}
 #skillsiconcontainer {
  display: inline-block;
  float: left;
  height: 200px;
  width: 190px; 
}

 #skillsicon {
  height: 150px;
  width: 150px;
  position: relative;
  margin: 30px 40px 20px 10px;
 }
 
 #skillslistcontainer {
 display: inline-block;
 float: right;
 height: 200px;
 width: 750px;  
}

 #skillslist {
  position: relative;
  text-align: left; 
  vertical-align: middle; 
  margin: 50px 10px 10px 10px; 
 }
 
 /*Experience*/
 #experience {
   clear: left;
 }
 
 #experienceicon {
  width: 150px;
  height:150px;
  display: inline-block;
  vertical-align: top;
  margin: 35px 10px 0px 25px;
 }
 
#jobs {
 width: 750px; 
 display: inline-block;
 margin-left: 0px;
}

.job {
  padding-bottom: 15px;
}

.job p {
position: relative;
float: right;
margin: -45px 35px 0 0;
font-size: 14px;
font-style: italic;
}

 /*Job company*/
h4 {
  font-weight: normal;
  text-transform: uppercase;
  font-weight: bold;
}
 
 /*Job title*/
h5 {
  font-weight: normal;
}
 
.job h5 {
font-size: 15px;
text-decoration: underline;
margin-top: -5px;
}

.job h6 {
font-weight: normal;
font-size: 14px;
font-style: italic;
position: relative;
float: right;
margin: -65px 35px 0 0;
}

.job li {
 margin-right: 60px; 
}

/*Education*/
#educationiconcontainer {
 display: inline-block;
 float: left;
 height: 320px;
 width: 190px; 
}

#educationicon {
  width: 150px;
  height: 150px;
  float: left;
  margin: 20px 20px 170px 20px;
}

#educationtextcontainer {
 display: inline-block;
 float: right;
 height: 320px;
 width: 750px; 
 padding-bottom: 30px; 
}

#locdate {
position: relative;
float: right; 
text-align: right;
margin: -55px 30px 0 0; 
}

#locdate p {
font-style: italic; 
font-size: 14px;  
}

/*Research*/
#researchicon {
 width: 150px;
 height: 150px;
 float: left;
 margin: 20px 20px 115px 20px;
}

#researchtext {
margin-bottom: 45px;  
}

#research p {
margin-right: 60px;
}

/*Contact*/
#contact h3 {
 margin-top: -20px; 
}

#contactline {
  margin-left: 120px;
  margin-top: 20px;
}

#contactline li {
 display: inline;
 padding: 10px 10px 10px 40px;
 list-style: none; 
}
